doctype
html
    include includes/header.pug
    title= title
main    
    body
        header
        br
        div#message.container.center-align    
            button.btn.kenzie-lightblue(onclick="window.location.href='/post'") Make New Post
        br
        div.container.photowrap
            div.card.hoverable.materialboxed.kenziephoto
                div.card-image
                    img(src='https://i.imgur.com/eGOkNRM.jpg').squarephoto
                    span.card-title= "eeeethan"
                div.card-content
                    p= "this is a caption bih"
                div.card-action
                    a(href="#")
            div.card.hoverable.materialboxed.kenziephoto
                div.card-image
                    img(src='https://i.imgur.com/A9FvP1D.jpg').squarephoto
                    span.card-title= "eeeethan"
                div.card-content
                    p= "this is a caption bih"
                div.card-action
                    a(href="#")
            div.card.hoverable.materialboxed.kenziephoto
                div.card-image
                    img(src='https://i.imgur.com/EFMWpFH.jpg').squarephoto
                    span.card-title= "eeeethan"
                div.card-content
                    p= "this is a caption bih"
                div.card-action
                    a(href="#")
            div.card.hoverable.materialboxed.kenziephoto
                div.card-image
                    img(src='https://i.imgur.com/PQw36xo.jpg').squarephoto
                    span.card-title= "eeeethan"
                div.card-content
                    p= "this is a caption bih"
                div.card-action
                    a(href="#")
            div.card.hoverable.materialboxed.kenziephoto
                div.card-image
                    img(src='https://i.imgur.com/CRunb1O.jpg').squarephoto
                    span.card-title= "eeeethan"
                div.card-content
                    p= "this is a caption bih"
                div.card-action
                    a(href="#")
            div.card.hoverable.materialboxed.kenziephoto
                div.card-image
                    img(src='https://i.imgur.com/7QcUU4z.jpg').squarephoto
                    span.card-title= "eeeethan"
                div.card-content
                    p= "this is a caption bih"
                div.card-action
                    a(href="#")
        div#message.container.center-align    
footer            
    include includes/footer.pug